.footer {
    background-color: #eee;
    text-align: center;
    border: 2px solid rgb(49, 89, 154);
    color: rgb(37, 37, 42);
    padding: 10px;
    line-height: 2;
    border-radius: 10px;
    box-shadow: rgb(37, 37, 42);
}

.footer--special {
    float: left;
    width: 65%;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    line-height: 30px;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
}